html,
body {
    margin: 0;
    padding: 6px;
    text-align: left;
    background-color: rgb(67, 35, 71);
    color: rgb(173, 164, 169);
}
header {
    background: linear-gradient(to bottom right, rgb(212, 90, 8), rgb(253, 185, 76), rgb(67, 35, 71));
    color: rgb(67, 35, 71);
    text-decoration: underline;
    padding: 25px;
}
header h1 {
    margin: 10px;
}
main h2 {
    color: rgb(237, 196, 114);
    text-decoration: bold;
}
.container {
    width: 40%;
    margin: 0 auto;
}
